.content {
    margin-top: 100px;
    font-size: calc(10px + 2vmin);
  }
  
  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    .images {
      position: relative;
    }
    img {
      width: 50px;
    }
    h1 {
      display: inline-block;
      text-align: center;
    }
    .moving-logo {
      position: absolute;
      left: 0%;
      top: 18%;
      animation: logo-move infinite 5s linear;
      animation-direction: alternate;
      @media(max-width: 400px) {
        display: none;
      }
    }
  }
  
  .main {
    margin-top: 50px;    
  }

  .game-image {    
    margin-right: -20px;
    background: url(../images/tictactoe.svg);
    background-size: auto 100%;
    width: 100px;
    height: 50px;
    will-change: background-position;   
    
    animation-name: tic-cycle;
    animation-timing-function: steps(11);
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: -0.5s;   
  }

  @keyframes tic-cycle {
    100% {
      background-position: -1000px;
    } 
  }