@import '../../css/variables.scss';
@import '../../css/font.scss';
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    justify-content: center;
    .game-board {
      display: flex;
      flex-direction: column;
      align-items: center;      
    }
  }

  .start-button {
    margin-top: 10px;
    font-size: calc(6px + 2vmin);
    border-radius: 0.5em;
    box-shadow: 5px 5px $primary-color-darker;
    background-color: $primary-color;
    border: none;
    &:active {
      box-shadow: 4px 4px $primary-color-darker;
      transform: translate(1px, 1px);
    }
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: $primary-color-tinted;
    }
    
  }
  
  .game-info {
    margin-left: 20px;
  }
  