@import '../../css/variables.scss';
@import '../../css/font.scss';

  .game-image {    
    margin-right: -20px;
    background: url(../../images/tictactoe.svg);
    background-size: auto 100%;
    width: 100px;
    height: 50px;
    will-change: background-position;   
    
    animation-name: tic-cycle;
    animation-timing-function: steps(11);
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: -0.5s;   
  }

  @keyframes tic-cycle {
    100% {
      background-position: -1100px;
    } 
  }